<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PNGIMR_IS.My.MySettings.PNGIMR_ISConnectionString"
            connectionString="Data Source=MALCONDM\SQLEXPRESS2014;Initial Catalog=PNGIMR_IS;Persist Security Info=True;User ID=sa;Password=&lt;ARZ8$-&gt;NH.Y5Jrw"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>