<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PNGIMR_IS.My.MySettings.pngimr_lab_inventoryConnectionString"
            connectionString="Data Source=MALCONDM\SQLEXPRESS2014;Initial Catalog=pngimr_lab_inventory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>